{% extends "base.html" %}

{% block content %}
<div class="row top-buffer-more">

  <div class="col-sm-12">

    {% if section.title %}
      <title>NICEST2 - {{ section.title }}</title>
    {% else %}
      <title>NICEST2</title>
    {% endif %}

  </div>


  <div class="row">
    <div class="col-md-10">

      {% if section.content %}
        {{ section.content | safe }}
      {% endif %}

    </div>
    <div class="col-md-2">
      <h4>Organizer</h4>
      {% for logo in config.extra.logos %}
        <a href="{{ logo.url }}">
          <img src="{{ resize_image(path="logos/" ~ logo.image, height=260, op="fit_height") | safe }}"
               alt="logo"
               style="margin-top: 25px;">
        </a>
      {% endfor %}
      <hr>
      <h4>Partners</h4>
      {% for partner in config.extra.partners %}
        <a href="{{ partner }}">
          <img src="{{ resize_image(path="partners/" ~ partner.image, width=100, op="fit_width") | safe }}"
               alt="partner"
               style="margin-top: 25px;">
        </a>
      {% endfor %}
    </div>
{% endblock content %}
